<h1 style="text-align:center; font-family:helvetica; font-size:250%; margin-top:50px">{{title}}</h1>
<div style="text-align:center;">
    <a href="/" style="font-family:helvetica; text-decoration: none; color: #383838; margin-right: 20px">Weather</a>
    <a href="/about" style="font-family:helvetica; text-decoration: none; color: #383838; margin-right: 20px">About</a>
</div>
