<!DOCTYPE html>

<head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">   
</head>
<body>
    {{> header}} </br></br>
    <p style="font-size:20px; text-align:center" >The page you are looking for could not be found :(</br>
    Try one of the two buttons above.</p>
    <div class="footer">Created by Devang Arora</div>
</body>
    
</html>