<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    
    {{> header}} 
    
    <p style="text-align:center; font-size:20px;"><img class="me" src="/img/dp.jpg" align="middle"></p></br>    
    <p style="text-align:center;font-family:helvetica; font-size:15px;">My name is Devang Arora, and I am 19 years old.</br>Currently, I am studying Computers and Communication Engineering at Manipal Institute of Technology, Manipal.
    </br>I am interested in Competitive Programming and Backend Web Develpoment. </p> </br>

     <a href="https://github.com/devangrajarora">
    <p style="text-align:center;"><img src="/img/Github_Logo.png" align="middle" height="40" ></p>
    </a>
</body>
</html>